@model IdentityMvc.Models.GoogleAuthenticatorViewModel

@{
    ViewBag.Title = "EnableGoogleAuthenticator";
}

<h2>EnableGoogleAuthenticator</h2>

<div>
    <div>Scan the QR code below with google authenticator app</div>
    <img src="data:text/plain;base64,@Model.QRCodeData" alt="@Model.QRCodeData" />
</div>

<div>
    @using (Html.BeginForm("EnableGoogleAuthenticator", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter Generated Code</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
    }

</div>

